body {
  margin: 0px;
  background-color: black;
  place-items: center;
  display: grid;
  height: 100vh;
}
.Card-Group,
.card {
  aspect-ratio: 5/7;
}
.Card-Group,
.Big-Card {
  width: 30vmin;
}

.card {
  aspect-ratio: 5/7;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
}
.Big-Card {
  border-radius: 1vmin;
  width: 30vmin;
}
.Small-Card {
  width: 12vmin;
  border-radius: 2vmin;
}
