body {
  background: linear-gradient(to left, #213e43, #cafbfe);
  background: url("images/mount.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
h1 {
  color: rgb(5, 71, 69);
  text-align: left;
  text-shadow: #213e43;
}
p {
  color: rgb(48, 34, 34);
  font-family: "Finger Paint", "consolas", sans-serif;
  text-shadow: #213e43;
  text-shadow: 5px 5px 5px rgb(96, 91, 91);
}
a:link {
  color: rgb(210, 43, 163);
}
a:hover {
  color: aqua;
}
a:active {
  color: orange;
}

#header {
  background-color: rgb(19, 133, 162);
  margin: 0px;
  padding: 0px;
  position: sticky;

  top: 0px;
}
.lable {
  color: white;
}
button:hover {
  color: tomato;
}
h2 {
  text-shadow: 5px 5px 5px rgb(96, 91, 91);
}
#box1 {
  border: 5px solid;
  border-color: aqua;
  background-color: lightblue;
  border-radius: 20px;
  font-size: 25px;
  height: 300px;
  padding: 10px;
  width: 300px;

  margin-left: auto;
}
#box2 {
  border: 5px solid;
  border-color: rgb(70, 237, 98);
  background-color: rgb(177, 233, 177);
  border-radius: 20px;
  font-size: 25px;
  padding: 10px;
  height: 300px;
  width: 300px;

  margin-right: auto;
}
#movies {
  color: black;
  border: 3px solid;
  background-color: #cafbfe;
  /* border-radius: 10px; */
}
img {
}
